<!DOCTYPE html>
<html lang="en">
{%include 'head.twig' %}
<body>
	<!--div class="fond"-->
		{%include'navbar.twig'%}

		<div class="row">
  			<div class="col-xs-12 col-md-10">

  				<h2>Nos idées sur le DD</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro autem, ex, architecto obcaecati harum quisquam quia? Quas nihil minus temporibus architecto voluptas id, sint voluptate rem iure animi, nam libero.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed accusantium illum adipisci expedita reprehenderit fuga, repudiandae quis placeat ratione ipsam maiores atque quisquam ipsum!
          </br> Iusto ipsam vero excepturi totam perferendis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, odit laboriosam fugiat, earum voluptate nulla nesciunt, repellendus architecto odio ipsum deserunt eaque quisquam tempora vitae explicabo facilis. Consequatur, explicabo, quae!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ipsam atque beatae dignissimos, tenetur maiores sit labore consectetur recusandae amet dolores, sapiente, delectus magnam cupiditate. Omnis nesciunt illo nobis at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quae aspernatur in necessitatibus est eligendi laboriosam amet possimus similique ut dignissimos asperiores ratione neque dolor voluptate, sunt ullam blanditiis odio.
          </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugiat doloremque cumque placeat voluptatum inventore, incidunt facere optio, assumenda, sit voluptatibus ad eligendi praesentium obcaecati. Reprehenderit cupiditate cum explicabo saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste in harum iusto illo saepe, facilis optio omnis repudiandae nemo dolorum quisquam ipsa rerum laboriosam sunt tenetur, quia id vel officia?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          </br>Distinctio sed ab hic dicta odit doloribus inventore deleniti temporibus, fugit sunt, quaerat sit iure architecto dolores cum aliquam nisi! Voluptatem, quas.
          </p>

          
  			</div>
  			<div class="col-xs-6 col-md-2">
  				
  			</div>
  	</div>
  	<div class="row">
			<div class="col-xs-12 col-md-5">

				<h2>Dossiers DD</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, neque adipisci beatae eligendi consectetur eaque est rerum sunt ipsum laboriosam dolorem, sed hic corrupti, perferendis eius. Quas ab blanditiis perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptates voluptatibus, provident, eveniet tempore nemo soluta officia laudantium harum itaque, accusantium doloremque autem molestias voluptatem odit excepturi. Quae, consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis amet maxime ex et facere eaque mollitia culpa, aliquam blanditiis tempora, dolorum, nisi eos rerum, nesciunt totam sequi ullam perferendis repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur porro odio dicta adipisci cum aperiam eius reprehenderit fuga asperiores incidunt! Dolore ipsa aperiam hic tempora pariatur vel, error libero exercitationem!
          </br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, neque adipisci beatae eligendi consectetur eaque est rerum sunt ipsum laboriosam dolorem, sed hic corrupti, perferendis eius. Quas ab blanditiis perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptates voluptatibus, provident, eveniet tempore nemo soluta officia laudantium harum itaque, accusantium doloremque autem molestias voluptatem odit excepturi. Quae, consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis amet maxime ex et facere eaque mollitia culpa, aliquam blanditiis tempora, dolorum, nisi eos rerum, nesciunt totam sequi ullam perferendis repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur porro odio dicta adipisci cum aperiam eius reprehenderit fuga asperiores incidunt! Dolore ipsa aperiam hic tempora pariatur vel, error libero exercitationem!
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident consectetur soluta, modi nesciunt magni, itaque? Vitae fugiat, debitis quaerat, quos incidunt corporis recusandae ab perferendis nostrum impedit repudiandae, consequatur hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sequi deleniti dolores, ratione aliquam tempore numquam tenetur laborum at ad, asperiores recusandae quaerat explicabo rem unde exercitationem animi. Aspernatur, saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsum consequuntur nisi perspiciatis? Doloribus quod aut cumque minus eveniet necessitatibus, et, est alias veniam placeat laborum soluta veritatis, velit suscipit.
          </br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, neque adipisci beatae eligendi consectetur eaque est rerum sunt ipsum laboriosam dolorem, sed hic corrupti, perferendis eius. Quas ab blanditiis perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptates voluptatibus, provident, eveniet tempore nemo soluta officia laudantium harum itaque, accusantium doloremque autem molestias voluptatem odit excepturi. Quae, consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis amet maxime ex et facere eaque mollitia culpa, aliquam blanditiis tempora, dolorum, nisi eos rerum, nesciunt totam sequi ullam perferendis repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur porro odio dicta adipisci cum aperiam eius reprehenderit fuga asperiores incidunt! Dolore ipsa aperiam hic tempora pariatur vel, error libero exercitationem!
          </p>
					</div>
  			</div>

 			<div class="col-xs-12 col-md-5">

				<h2>Articles DD</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, neque adipisci beatae eligendi consectetur eaque est rerum sunt ipsum laboriosam dolorem, sed hic corrupti, perferendis eius. Quas ab blanditiis perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptates voluptatibus, provident, eveniet tempore nemo soluta officia laudantium harum itaque, accusantium doloremque autem molestias voluptatem odit excepturi. Quae, consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis amet maxime ex et facere eaque mollitia culpa, aliquam blanditiis tempora, dolorum, nisi eos rerum, nesciunt totam sequi ullam perferendis repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur porro odio dicta adipisci cum aperiam eius reprehenderit fuga asperiores incidunt! Dolore ipsa aperiam hic tempora pariatur vel, error libero exercitationem!
          </br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, neque adipisci beatae eligendi consectetur eaque est rerum sunt ipsum laboriosam dolorem, sed hic corrupti, perferendis eius. Quas ab blanditiis perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptates voluptatibus, provident, eveniet tempore nemo soluta officia laudantium harum itaque, accusantium doloremque autem molestias voluptatem odit excepturi. Quae, consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis amet maxime ex et facere eaque mollitia culpa, aliquam blanditiis tempora, dolorum, nisi eos rerum, nesciunt totam sequi ullam perferendis repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur porro odio dicta adipisci cum aperiam eius reprehenderit fuga asperiores incidunt! Dolore ipsa aperiam hic tempora pariatur vel, error libero exercitationem!
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident consectetur soluta, modi nesciunt magni, itaque? Vitae fugiat, debitis quaerat, quos incidunt corporis recusandae ab perferendis nostrum impedit repudiandae, consequatur hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sequi deleniti dolores, ratione aliquam tempore numquam tenetur laborum at ad, asperiores recusandae quaerat explicabo rem unde exercitationem animi. Aspernatur, saepe.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ipsum consequuntur nisi perspiciatis? Doloribus quod aut cumque minus eveniet necessitatibus, et, est alias veniam placeat laborum soluta veritatis, velit suscipit.
          </br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, neque adipisci beatae eligendi consectetur eaque est rerum sunt ipsum laboriosam dolorem, sed hic corrupti, perferendis eius. Quas ab blanditiis perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptates voluptatibus, provident, eveniet tempore nemo soluta officia laudantium harum itaque, accusantium doloremque autem molestias voluptatem odit excepturi. Quae, consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis amet maxime ex et facere eaque mollitia culpa, aliquam blanditiis tempora, dolorum, nisi eos rerum, nesciunt totam sequi ullam perferendis repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur porro odio dicta adipisci cum aperiam eius reprehenderit fuga asperiores incidunt! Dolore ipsa aperiam hic tempora pariatur vel, error libero exercitationem!
          </p>

				</div>
			<div class="col-xs-12 col-md-2">
				<p>
				</p>
  			</div>

		</div>

	
		{%include'footer.twig'%}
	<!--/div-->
</body>
</html>