<!DOCTYPE html>
<html lang="en">
{%include 'head.twig' %}
<body>
	<!--div class="fond"-->
		{%include'navbar.twig'%}

		<div class="row">
  			<div class="col-xs-12 col-md-10">

  				<h2>Nos idées sur le DD</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam est magni animi similique dolor amet nam ut natus vel placeat. Modi velit, tempora repudiandae officiis ducimus soluta. Voluptates, voluptatum, fugit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </br>Sunt facilis praesentium odio a illum asperiores voluptatum, atque fugiat, error veniam non, ex quo beatae aut. Minus qui ipsum nesciunt quaerat.
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quam eveniet accusamus rerum iste nulla, beatae cumque similique, mollitia fugit odio magni cupiditate, impedit nisi. Consectetur totam, ab iusto nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente id veniam incidunt cupiditate perspiciatis earum, voluptate in praesentium vero nihil eius maiores neque esse suscipit aspernatur rerum, nemo repellendus fugit.
          </p>

  			</div>
  			<div class="col-xs-6 col-md-2">
  				
  			</div>
  	</div>
  	<div class="row">
			<div class="col-xs-12 col-md-5">

				<h2>Titre</h2>

			     <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nulla aut modi quam quaerat at aspernatur. Sequi earum, ad ducimus ipsa laboriosam at aperiam, veniam et, officia labore, error fuga.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus amet soluta perferendis fugiat odio molestias aspernatur ea. Architecto accusamus culpa rem quia veritatis recusandae, reiciendis ullam velit eos distinctio doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur modi amet, maxime repudiandae necessitatibus, impedit. In distinctio magnam, doloribus qui perspiciatis nesciunt eius quam eos pariatur. Placeat officia omnis praesentium.
           </p>

					</div>
  			</div>
 			<div class="col-xs-12 col-md-5">

				<h2>Titre</h2>

          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maiores earum quod est inventore fugiat, necessitatibus excepturi architecto, veniam ad, animi sit optio accusantium praesentium sint dolor quidem perferendis ipsa!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam modi veritatis minus magni, ullam, nemo iure, recusandae mollitia sint ratione quas a necessitatibus omnis facilis obcaecati optio molestias! Recusandae, sunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolor nesciunt dicta aliquid illum provident doloribus. Placeat ipsum, soluta aspernatur maiores distinctio cum, est illo vitae, minus nesciunt quis aliquid.
          </p>

          <p>Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsam molestiae deserunt enim aut sit similique, quasi eligendi odit. Reprehenderit, magnam. Magni sint aspernatur culpa voluptatum veritatis laboriosam tenetur est.
          </p>

				</div>
			<div class="col-xs-12 col-md-2">

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quibusdam ipsam, vero minima adipisci recusandae atque aliquam iure maxime nam cupiditate velit porro nesciunt necessitatibus. Ut dolore, commodi id in.
        </p>
  			</div>

		</div>

	
		{%include'footer.twig'%}
	<!--/div-->
</body>
</html>