<!DOCTYPE html>
<html lang="en">
{%include 'head.twig' %}
<body>
	<!--div class="fond"-->
{%include 'navbar.twig' %}

		<div class="row">
  			<div class="col-xs-12 col-md-10">
  				<h2>Nos idées sur le DD</h2></br>
<h2>Titre</h2>
          
          <p> Lorem  Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, reprehenderit, culpa. Dolore amet, illum ullam qui tenetur maiores tempore quidem alias consequuntur officia accusamus consequatur consectetur laboriosam, eveniet dolores facere?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos alias voluptate cumque voluptatibus, modi saepe amet labore, perferendis perspiciatis itaque doloribus possimus eum debitis ab, distinctio architecto non corporis harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus totam soluta ad, quia facilis sit id illum aut, quod culpa voluptas cupiditate numquam. Est optio doloribus deserunt eligendi, voluptas odio!
          </p>

  			</div>
  			<div class="col-xs-6 col-md-2">
  				
  			</div>
  	</div>
  	<div class="row">
			<div class="col-xs-12 col-md-5">

				<h2>Titre</h2>
					
          <p> Lorem  Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, reprehenderit, culpa. Dolore amet, illum ullam qui tenetur maiores tempore quidem alias consequuntur officia accusamus consequatur consectetur laboriosam, eveniet dolores facere?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos alias voluptate cumque voluptatibus, modi saepe amet labore, perferendis perspiciatis itaque doloribus possimus eum debitis ab, distinctio architecto non corporis harum.
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eligendi excepturi in culpa iure deleniti accusamus! Accusamus, neque fugiat minus illum aliquam nostrum ad molestias reprehenderit. Officia enim, harum recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quam nisi obcaecati assumenda fugit, vitae ducimus officia sunt nostrum dolorem ipsa ipsam necessitatibus facere adipisci eligendi tempore voluptas, explicabo quae.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cupiditate voluptatibus repellat qui dicta quibusdam. Eos molestias obcaecati, sed reprehenderit, voluptas veritatis quidem debitis quos. Dolore, odit sapiente laboriosam harum.
        </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam officia beatae expedita eaque ipsa facere labore, quia quis ea veritatis, amet ipsam delectus dignissimos reiciendis nam eveniet doloremque unde nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat deserunt, nisi distinctio eum odio aspernatur pariatur iusto, vero blanditiis quis repudiandae atque inventore iure repellat eveniet laborum porro corporis expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium reiciendis beatae accusamus quibusdam, consequuntur neque laudantium perspiciatis voluptas quis obcaecati a quas fuga dolorem. Cupiditate consequuntur ea mollitia aut omnis.
          </p>
					
					</div>
  			</div>
 			<div class="col-xs-12 col-md-5">

				<h2>Titre</h2>

        <p>Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perferendis magnam iure quo iusto eius unde dolorum ab! A odit minus dolore reiciendis recusandae, inventore incidunt rerum molestias ipsam voluptates!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolorum quod aperiam? Culpa maxime, perspiciatis nam saepe, eveniet magni eaque minima similique animi hic quibusdam pariatur ad provident officia! Accusantium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, explicabo, itaque! Facere asperiores laboriosam rerum at quod nihil magni voluptate deserunt repellendus autem vero, harum quam obcaecati necessitatibus eveniet est.
        </p>

				</div>
			<div class="col-xs-12 col-md-2">
			
  			</div>

		</div>

	
		{%include'footer.twig'%}
	<!--/div-->
</body>
</html>