<header>
	<div class="row entete">
		<div class="logo">
			<a href="index.twig"><h1 class="lhf"></h1></a>
		</div>
		<div class="menu">
			<ul class="navbar">
				<li class="ic item"><a  href="intelligence_collective.twig"><p>Intelligence</br>collective</br></p></a>
				</li>
				<li class="is item"><a href="ingenerie_sociale.twig"><p>Ingenierie</br>sociale</br></p></a>
				</li>
				<li class="ess item"><a href="economie_sociale_solidaire.twig"><p>Économie<br>Sociale et Solidaire</p></a>
				</li>
				<li class="en item"><a href="espace_numerique.twig"><p>Espace</br>numérique</br></p></a>
				</li>
				<li class="dd item"><a href="developpement_durable.twig"><p>Développement</br>durable</br></p></a>
				</li>
			</ul>
		</div>
	</div>
</header>