<div class="col-md-2 col-xs-2">

<div class="news">
	
	<h2>NEWS</h2>

  
	 <h4>News 1</h4>

    <p>Quam ob rem circumspecta cautela observatum est deinceps et cum edita montium petere coeperint grassatores, loci iniquitati milites cedunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam earum blanditiis magnam voluptatibus obcaecati facere expedita rerum sit, totam illo, praesentium eligendi culpa facilis. Dolore id accusantium repudiandae dolorem laborum.
    </p>

	<h4>News 2</h4>

    <p>Quam ob rem circumspecta cautela observatum est deinceps et cum edita montium petere coeperint grassatores, loci iniquitati milites cedunt.Quam ob rem circumspecta cautela observatum est deinceps et cum edita montium petere coeperint grassatores, loci iniquitati milites cedunt. 
    </p>
</div>
	</div>
  
</div>